.duration{
    width: 100%;
    height: 8vh;
    font-size: 3vh;
    display: flex;
    line-height: 8vh;
    font-family: 'Cormorant Garamond", serif;';
    background: #22242f;
    border: 0.2px solid wheat;
    -webkit-box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 13px -4px rgba(0, 0, 0, 0.75);
    // font-weight: 500;
    
    
}

.education-list {

    display: flex;

    width: 80%;
    margin-top: 100px;

    @media screen and (max-width : 900px) {
        display: flex;
        flex-direction: column;
    }


}

.duration-text{
    margin-left: 10px;
    color: gray;
}