.container {
    display: flex;
    
    width: 80%;
    margin: auto;

    height: 80vh;

    @media screen and (max-width : 900px){
        display: flex;
        flex-direction: column;
    }

}

.child-container {
    margin-top: 50px;
    display: flex;
    height: 100%;
    // background-color: antiquewhite;
    width: 70%;
    text-align: left;
    font-family: 'Cormorant Garamond", serif;';
    @media screen and (max-width : 900px){
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.child-container p {
    color: #858792;
}

.designation {
    font-family: 'Poppins, sans-serif';
    color: rgb(133, 135, 146);
    font-size: 5vh;
    font-weight: 400;

}

h1{
    font-size: 6vh;
    color: white;
    // font-weight: 100;
}

.text-name{
    // line-height: 100px;
    color: white;
    font-size: 10vh;
    // font-weight: 200;
}

.tabs-container{
    height: 10vh;
    margin-top: 5vh;
}

.container-60vh{
    height: 60vh;
}