.description{
    width: 80%;
    
    margin: auto;   
    font-family: 'Cormorant Garamond", serif;';

    h1{
        font-size: 8vh;
        
    }

    h2{
        font-size: 5vh;
        color: #858792;
    }

    p{
        font-size: 2.5vh;
        color: #858792;
    }
}
