.item{
    width: calc(100% / 7);
    cursor: pointer;
    &:hover{
        background-color: white;
        color: black;
        transition: all 0.3s ease-in;
    }
    // color: rgba(209, 209, 209, 0.614);
    color: white;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

